@model Gestion_de_inventario_.Transacciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transacciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Transaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Transaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Transaccion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
