@model IEnumerable<Gestion_de_inventario_.Existencias_Por_Almacen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="get">
    <input type="text" id="Criterio" name="Criterio" />
    <input type="submit" id="cmdBuscar" value="Buscar" />
</form>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Almacenes.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Articulo.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Almacenes.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Articulo.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Almacen }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Almacen }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Almacen })
        </td>
    </tr>
}

</table>
